body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.left-img img {
  width: 95%x;
  margin: auto;
}
.left-right {
  width: 95%;
  margin: auto;
}
form #fname,
#femail,
#lname,
#message {
  border: 1px solid gray;
}
#fname,
#femail,
#lname {
  height: 30px;
  width: 95%;
}
#message {
  height: 100px;
  width: 95%;
}
#submite {
  margin: 10px 0 32px 0;
  background-color: #5385c1;
  color: white;
  border-radius: 4px;
  height: 30px;
}

.col-right .border-bottom {
  width: 95%;
  margin: 30px 10px;
}

@media screen and (min-width: 900px) {
  .left-right {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .col-right {
    float: right;
    margin: 5em 0 0 15px;
  }
  .col-left {
    float: left;
  }
  .col-right.form {
    width: 100%;
  }
  .form form {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .middle p {
    margin: 0 200px;
  }
}
@media screen and (min-width: 1800px) {
  .header-logo {
    margin: 60px auto;
  }
  .header-hamburger {
    display: none;
  }
  .navigation {
    display: inline;
  }
  .navbar-nav {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 60px;
  }
  .navbar-nav li {
    padding: 0 15px;
  }
  .navbar-nav a {
    text-decoration: none;
  }
  .border-bottom.end {
    display: block;
  }
  .col-right p {
    text-align: left;
  }
}
