body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-menu {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  margin: 32px 0 32px 15px;
}
.navigation {
  display: none;
}
.header-hamburger {
  background-color: #5385c1;
  height: 40px;
  width: 40px;
  margin: 30px;
  padding-right: 15px;
  border-radius: 3px;
}
.hamburger .bar1,
.bar2,
.bar3 {
  width: 15px;
  height: 3px;
  background-color: white;
  margin-bottom: 3px;
}
.bar-4 {
  width: 30px;
  height: 5px;
  border-radius: 1px;
  margin-left: 15px;
  background-color: #5385c1;
}
.hamburger {
  padding: 16px;
}
.border-bottom {
  border-bottom: 2px solid #dbdbdb;
  margin: auto;
  margin-bottom: 32px;
}
.headeer-h1 h1 {
  padding-left: 15px;
  margin-bottom: 32px;
}
.end {
  display: none;
}

.row {
  background-image: url(../images/banner-bg.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.caption {
  background-color: white;
  opacity: 0.7;
  margin: 6em 15px 0 15px;
  position: absolute;
  height: 350px;
}
.caption p {
  text-align: left;
  padding: 0 15px;
  line-height: 1.7;
}
.caption a {
  text-decoration: none;
}
.caption h2 {
  text-align: center;
}
.line-dec {
  width: 30px;
  height: 5px;
  border-radius: 3px;
  background-color: #5385c1;
  margin-left: 15px;
}

.main-button {
  width: 110px;
  height: 40px;
  background-color: #5385c1;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0 0 20px;
  margin-left: 15px;
}
.main-button a {
  text-decoration: none;
  color: white;
}

.main-2 {
  margin-top: 4em;
}
.main-2 h1 {
  margin-left: 15px;
}
.left-right {
  width: 90%;
  margin: 0 auto;
}
.img1 img {
  width: 100%;
  height: 300px;
}
.left-right .article-1,
.article-2,
.article-3,
.article-4 {
  border: 1px solid lightgray;
}
.img1 {
  width: 90%;
  margin: 15px 20px;
}
.img1 h4,
h6 {
  padding-left: 5px;
}
.img1 h6 {
  color: #5385c1;
  font-size: 20px;
}
.left-right .article-2,
.article-3,
.article-4 {
  display: none;
}
.nav-carre {
  margin: 32px 0px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}
.nav-carre .radius {
  width: 5px;
  height: 5px;
  background-color: lightgray;
  margin: auto;
  margin: 0 10px;
}
.radius.one {
  background-color: #5385c1;
}
.middle {
  height: 400px;
  background-color: #5385c1;
  margin-top: 7em;
  width: 100%;
}

.middle h1 {
  padding-top: 60px;
  text-align: center;
  color: white;
}
.middle p {
  color: white;
  text-align: center;
  line-height: 1.7;
}
.middle form {
  padding: 10px;
  text-align: center;
}
.form-in {
  padding: 15px 0;
}
.form-in #femail {
  width: 290px;
  height: 30px;
  border-radius: 3px;
  background-color: #5385c1;
  color: white;
  border: solid 1px;
}
#submit {
  color: #5385c1;
  background-color: white;
  width: 300px;
  height: 40px;
  border-radius: 3px;
  margin: 15px 0;
}
.footer-logo {
  margin: 50px auto;
}
.footer-logo,
img {
  text-align: center;
}
.footer-nav ul {
  text-decoration: none;
  list-style: none;
  color: gray;
  display: flex;
  justify-content: center;
}
.footer-nav ul {
  padding: 0 10px;
}
.footer-nav li {
  padding: 0 15px;
}
.footer-nav .contact {
  margin: auto;
}
.footer-social-icons ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer-social-icons li {
  padding: 32px 5px;
}
.footer-nav a {
  text-decoration: none;
  color: gray;
}
.fa-rss {
  background: rgb(209, 208, 193);
  color: white;
}
@media screen and (min-width: 900px) {
  .caption {
    width: 480px;
    margin: 150px 0 0 60px;
  }
  .left-section {
    margin-left: 200px;
  }
  .left-right .article-2 {
    display: inline;
  }
  .left-right {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .img1 {
    margin: 10px auto;
  }

  .left-right article {
    margin: 0 10px;
  }
  .col-right.form {
    width: 100%;
  }
  .form-in input {
    width: 200px;
  }
  .form-sum button {
    width: 200px;
  }
  .form-sum {
    padding: 15px 0 0 10px;
  }
  .form form {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .middle p {
    margin: 0 200px;
  }
}
@media screen and (min-width: 1800px) {
  .header-logo {
    margin: 60px auto;
  }
  .header-hamburger {
    display: none;
  }
  .navigation {
    display: inline;
  }
  .navbar-nav {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 60px;
  }
  .navbar-nav li {
    padding: 0 15px;
  }
  .navbar-nav a {
    text-decoration: none;
  }
  .caption {
    margin-left: 400px;
  }
  .left-right .article-3,
  .article-4 {
    display: inline;
  }
  .left-section {
    margin-left: 390px;
  }
  .nav-carre .radius.four,
  .five {
    display: none;
  }
}
